.hero {
	position: relative;
	padding-top: 8%;
	margin-top: 90px;
	background: url(../img/hero-oo.png) no-repeat;
	background-position-y: 120%;
	background-position-x: 104%;
    padding-bottom: 10%;
    
    h1 {
        font-size: 350%;
        padding: 6% 17% 13% 0%;

        @media only screen and (max-width: 992px) {
            font-size: 325%;
            padding: 6% 0% 13% 0%;
        }

        @media only screen and (max-width: 767px) {
            font-size: 300%;
            padding: 6% 0% 13% 0%;
        }

        @media only screen and (max-width: 540px) {
            font-size: 250%;
        }

        @media only screen and (max-width: 480px) {
            font-size: 200%;
        }
    }

    .title {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        &::before {
            content: '';
            border-top: 3px solid rgba(232, 227, 219, 1);
            width: 100%;
            max-width: 10%;
        }
    }

    .sub-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 0px;

        @media only screen and (max-width: 767px) {
            padding-left: 15px;
        }
    }

    p { 
        writing-mode: vertical-lr;
        text-orientation: sideways;
        margin: 0px;
        transform: rotate(180deg);

        @media only screen and (max-width: 767px) {
            transform: rotate(0deg);
            text-orientation: mixed;
            writing-mode: horizontal-tb;
            margin-bottom: 1rem;
        }
    }

    @media only screen and (max-width: 992px) {
        margin-top: 62px;
    }
}